html, body {
	height: 100%;
	width: 100%;
}

#root {
	height: 100%!important;
	width: 100%!important;
}

.light-outer-box {
    border-radius: 30px;
    padding: 15px;
    background: linear-gradient(to right, #07cc8f, #004782);
}

.light-inner-box	 {
    border-radius: 30px;
    height: 100%;
    background: #ffffff;
}

.pointer-all {
	pointer-events: all!important;
}