body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn-circle {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%!important;
}

.outer-box{
	border-radius: 30px;
	height: 70px;
	padding: 10px;
	background: linear-gradient(to right, #07CC8F, #004782);
}

.bg-gradient{
	background: linear-gradient(to bottom right, #07CC8F, #004782);
}

.light-inner-box {
	border-radius: 30px;
	height: 100%;
	padding: 10px;
}

.inner-searchbar{
	border-radius: 30px;
}

.light-searchbar {
	background: #fff;
}

.light-search-input{
	color: black;
	border: 0;
	outline: 0;
	background: none;
	line-height: 40px;
	width: 80%;
	padding-left: 20px;
}

.light-search-icon{
	font-size: 125%;
    color: rgba(0,53,81,1);
}

.push-input {
	padding: 5px;
	align-items: center;
	vertical-align: middle;
}

.rounded-30 {
	border-radius: 30px;
}

.border-grey {
	border: 1px solid #E3E3E3!important;
}